<!--
  Generated template for the RecipeSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Find recipes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="searchRecipe()">
          <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="empty-state flex-middle full-screen-content" *ngIf="(ingredients$ | async).length === 0">
    <h1 class="empty-title">Add your ingredients.</h1>
    <p class="empty-guide">Press the <strong>+</strong> button to start adding ingredients. Then press the search button to find recipes!</p>
  </div>

  <ingredients-list *ngIf="(ingredients$ | async).length >= 1"
                    [ingredients]="ingredients$ | async"
                    (onDeleteIngredient)="deleteIngredient($event)"></ingredients-list>

  
  <ion-fab bottom right>
      <button ion-fab color="primary" (click)="addIngredient()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <!-- <ion-fab bottom class="fab-middle" *ngIf="(ingredients$ | async).length >= 1">
      <button ion-fab color="primary" (click)="searchRecipe()"><ion-icon name="search"></ion-icon></button>
  </ion-fab> -->

</ion-content>